tools/
.venv/
rom/
__pycache__/
*.pyc*
*.ttf
.env
patcher/work/
!patcher/tools/
!patcher/tools/**
!patcher/resources/fonts/
patcher/resources/fonts/*.ttf
patcher/tools/__pycache__/
patcher/tools/**/*.pyc*

